/* =================================
  <!--Base Layout Styles -->
==================================== */

body {
  background: #2f558e url(/home/alex/Documents/Codeloufilessept2017/Jessicassite/img/maxresdefault.jpg) repeat 0 0;
  background-size: 400px auto;
  font-family: 'Spirax';
   }
img {
  display: block;
  width: 150px;
  margin: 50px auto;
}

/* =================================
  <!--Button  Styles -->
==================================== */
button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 24px;
  width: 480px;
  padding: 40px 0;
  margin: -40px -20px;
  outline: none;
  cursor: pointer;
}
.synopsis {
	background: #1d3c6a;
  width: 440px;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding: 20px 10px;
  text-align: center;
  font-size: 16px
}
.synopsis span {
  color: #dae1e4;
}

a{
	color: white;
	text-align: right;
	list-style: none;
	font-size: 24px;
}
