/* =================================
  <!--Base Layout Styles -->
==================================== */

body {
	line-height: 1.6;
	color: white;
	font-family: 'Spirax';
	background-image: url(/home/alex/Documents/Codeloufilessept2017/Jessicassite/img/stones_ebook.jpg);
		}

a{
	color: white;
	text-align: right;
	list-style: none;
	font-size: 24px;
}

li {
list-style:none;

}
h1 {
	color: white;
	font-size: 30px;
}
p {
  color: white;

}

ul{
	color: white;
}

h2 { color:white;

}

@media only screen and (max-width: 488px) {
    img .portrait {
        width: 100%;
    }
	}
		@media only screen and (min-width: 489px) and (max-width: 788px) {
		   img .portrait {
		        width: 50%;
						height: 25%;
					}
		    }
				@media only screen and (max-width: 1140px) {
				    img .portrait {
				        width: 50%;
								height: 25%;
				    }
}

/* ---- Layout Containers ---- */
.name {
text: 30px;

}

.wrapper {
	width: 100%;
	margin: 0 auto;
	text: #F0FFF0;
	}

.main-header {
	text: 28px;

}

.main-footer {
	padding: 1em 0;
	line-height: normal;
	background: Indigo;
}
